body {
    background-color:#262626;
    background-image: url('../images/twitter.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
    max-width: 100%;
}

.pButton {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease width;
}

.pButton:last-child {
    margin-right: 0;
}

.pButton.active {
    width: 60px;
    cursor: auto;
}